<div class="px-6 py-4 entry-item flex justify-between items-center">
    <div class="text-gray-900 font-medium nome-arquivo-rag" {{ 'style="opacity: 1.0"' |safe if
        arquivo_e_ativo(arquivo_rag.nome) or arquivo_rag.fixo == False else 'style="opacity: 0.5"' |safe }}
        data-nome-arquivo="{{ arquivo_rag.nome }}">{{ arquivo_rag.nome }}</div>
    <div class="flex space-x-3">
        {% if not arquivo_rag.fixo %}
        <button class="action-btn text-red-500" title="Delete">
            <i class="fas fa-trash"></i>
        </button>
        {% endif %}
        {% if arquivo_rag.fixo %}
        <a href="#" class="action-btn text-yellow-500"
            title="{{ 'Disable' if arquivo_e_ativo(arquivo_rag.nome) else 'Enable'}}">
            {{ '<i class="fas fa-ban"></i>'|safe if arquivo_e_ativo(arquivo_rag.nome) else '<i
                class="fas fa-check-circle"></i>'|safe }}
        </a>
        {% endif %}
        <a href="{{ url_for('rag.download_documento_rag', filename=arquivo_rag.nome, fixo=1 if arquivo_rag.fixo else 0 ) }}" target="_blank"
            class="action-btn text-green-500" title="Download">
            <i class="fas fa-download"></i>
        </a>
    </div>
</div>