.env
app/__pycache__/*
app/__pycache__/app.cpython-311.pyc
app/__pycache__/GoogleApiWrapper.cpython-311.pyc
app/google_api/__pycache__/getLLM.cpython-311.pyc
app/google_api/__pycache__/GoogleApiWrapper.cpython-311.pyc
app/suporte/__pycache__/*
